aiohttp==3.7.4.post0
appdirs==1.4.4
asgiref==3.2.3
async-timeout==4.0.2
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
comtypes==1.1.10
cssselect==1.1.0
Deprecated==1.2.13
discord.py==1.7.3
Django==3.0.1
fake-useragent==0.1.11
fire==0.4.0
idna==2.10
lxml==4.6.2
multidict==5.1.0
numpy==1.18.3
packaging==21.3
parse==1.19.0
py-espeak-ng==0.1.8
pycparser==2.20
pyee==8.1.0
pygame==1.9.6
PyNaCl==1.4.0
pyparsing==3.0.9
pypiwin32==223
pyppeteer==0.2.5
pyquery==1.4.3
pyttsx3==2.90
pytz==2019.3
pywebcopy==6.3.0
pywin32==301
redis==4.3.4
requests==2.25.1
requests-html==0.10.0
semver==2.13.0
six==1.15.0
soupsieve==2.1
spotipy==2.20.0
sqlparse==0.3.0
termcolor==1.1.0
tqdm==4.56.0
typing-extensions==3.10.0.2
urllib3==1.26.2
virtualenv==16.7.9
w3lib==1.22.0
websockets==8.1
wrapt==1.14.1
yarl==1.6.3
youtube-dl==2021.6.6
